In [188]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import re as re

In [189]:
df = pd.read_csv('2019.csv', sep=',')
df

,Unnamed: 0,Datum,Temp. A.,Temp. A..1,Temp. A..2,Feuchte A.,Feuchte A..1,Feuchte A..2,Luftdruck,Luftdruck.1,...,Solar,Solar.1,Taupunkt,Taupunkt.1,Taupunkt.2,Windchill,Windchill.1,Windchill.2,Windböen,Windböen.1
0,0,01.01.2019,"6,3 °C","Min. 23:505,3 °C","Max. 12:556,9 °C",93 %,Min. 23:2582 %,Max. 00:0096 %,"1029,0 hPa","Min. 17:451026,5 hPa",...,21 W/m²,Max. 12:3056 W/m²,"5,3 °C","Max. 00:006,0 °C","Min. 23:502,7 °C","6,3 °C","Max. 12:556,9 °C","Min. 23:254,9 °C","6,3 km/h (2 Bft)","Max. 23:5524,1 km/h (4 Bft)"
1,1,02.01.2019,"3,5 °C","Min. 23:55-1,8 °C","Max. 14:156,4 °C",77 %,Min. 15:0560 %,Max. 23:5587 %,"1032,1 hPa","Min. 00:001027,9 hPa",...,78 W/m²,Max. 13:40297 W/m²,"-0,3 °C","Max. 00:002,7 °C","Min. 23:45-3,7 °C","3,4 °C","Max. 14:356,3 °C","Min. 23:55-1,8 °C","9,5 km/h (2 Bft)","Max. 02:0025,7 km/h (4 Bft)"
2,2,03.01.2019,"-1,0 °C","Min. 06:20-3,9 °C","Max. 19:050,8 °C",92 %,Min. 00:0087 %,Max. 19:4595 %,"1037,3 hPa","Min. 00:001036,4 hPa",...,36 W/m²,Max. 09:5081 W/m²,"-2,1 °C","Max. 19:550,1 °C","Min. 06:20-5,1 °C","-1,0 °C","Max. 19:100,8 °C","Min. 06:20-3,9 °C","1,3 km/h (1 Bft)","Max. 08:208,0 km/h (2 Bft)"
3,3,04.01.2019,"1,3 °C","Min. 01:25-0,3 °C","Max. 14:302,9 °C",93 %,Min. 15:3090 %,Max. 09:3096 %,"1035,8 hPa","Min. 20:151033,1 hPa",...,70 W/m²,Max. 12:35255 W/m²,"0,4 °C","Max. 13:401,7 °C","Min. 01:25-1,1 °C","1,3 °C","Max. 14:302,9 °C","Min. 01:25-0,3 °C","0,9 km/h (0 Bft)","Max. 15:258,0 km/h (2 Bft)"
4,4,05.01.2019,"2,9 °C","Min. 09:351,7 °C","Max. 23:454,6 °C",96 %,Min. 00:0094 %,Max. 10:2596 %,"1029,6 hPa","Min. 13:301028,0 hPa",...,11 W/m²,Max. 14:4026 W/m²,"2,2 °C","Max. 23:454,0 °C","Min. 09:351,0 °C","2,9 °C","Max. 23:454,6 °C","Min. 09:351,7 °C","1,7 km/h (1 Bft)","Max. 12:1511,3 km/h (2 Bft)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,301,Minimum,"-6,7 °C","-6,7 °C","-6,7 °C",19 %,19 %,19 %,"988,1 hPa","988,1 hPa",...,-,-,"-12,4 °C","-12,4 °C","-12,4 °C","-6,7 °C","-6,7 °C","-6,7 °C","0,0 km/h (0 Bft)","0,0 km/h (0 Bft)"
302,302,Max-Datum,25.07.19,25.07.19,25.07.19,13.01.19,13.01.19,13.01.19,23.02.19,23.02.19,...,07.07.19,07.07.19,26.07.19,26.07.19,26.07.19,25.07.19,25.07.19,25.07.19,04.03.19,04.03.19
303,303,Max-Zeit,17:10,17:10,17:10,10:25,10:25,10:25,09:35,09:35,...,12:40,12:40,17:40,17:40,17:40,17:10,17:10,17:10,09:30,09:30
304,304,Maximum,"38,9 °C","38,9 °C","38,9 °C",97 %,97 %,97 %,"1038,7 hPa","1038,7 hPa",...,1146 W/m²,1146 W/m²,"24,4 °C","24,4 °C","24,4 °C","38,9 °C","38,9 °C","38,9 °C","48,3 km/h S (6 Bft)","48,3 km/h S (6 Bft)"
305,305,Durchschnitt,"14,0 °C","14,0 °C","14,0 °C",71 %,71 %,71 %,"1015,6 hPa","1015,6 hPa",...,216 W/m²,216 W/m²,"8,1 °C","8,1 °C","8,1 °C","14,0 °C","14,0 °C","14,0 °C","6,4 km/h (2 Bft)","6,4 km/h (2 Bft)"

In [190]:
temp = df.iloc[:,[1,2,3,4]]

temp

In [191]:
temp.drop(temp.tail(7).index,inplace=True)
temp

/Applications/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

          Datum Temp. A.         Temp. A..1         Temp. A..2
0    01.01.2019   6,3 °C   Min. 23:505,3 °C   Max. 12:556,9 °C
1    02.01.2019   3,5 °C  Min. 23:55-1,8 °C   Max. 14:156,4 °C
2    03.01.2019  -1,0 °C  Min. 06:20-3,9 °C   Max. 19:050,8 °C
3    04.01.2019   1,3 °C  Min. 01:25-0,3 °C   Max. 14:302,9 °C
4    05.01.2019   2,9 °C   Min. 09:351,7 °C   Max. 23:454,6 °C
..          ...      ...                ...                ...
294  22.10.2019  14,1 °C  Min. 23:4511,3 °C  Max. 15:0017,8 °C
295  23.10.2019  12,9 °C  Min. 03:1510,0 °C  Max. 15:4015,6 °C
296  24.10.2019  14,9 °C  Min. 03:0011,3 °C  Max. 15:4519,5 °C
297  25.10.2019  14,2 °C  Min. 23:4510,4 °C  Max. 16:0017,7 °C
298  26.10.2019  10,3 °C  Min. 00:0010,3 °C  Max. 00:0010,3 °C

[299 rows x 4 columns]

In [192]:
Min=temp['Temp. A..1'].tolist()
Mintemp=[]
thing=[]
b=[]
for x in Min:
    thing=re.findall('\d{2}[:]\d{2}([-]?)(\d+)([,])?(\d+)?\s',x)
    if thing[0][2]=="":
        b=float(thing[0][0]+thing[0][1])
        print('yay')
    else: 
        b=float(thing[0][0]+thing[0][1]+'.'+thing[0][3])
    Mintemp.append(b)
len(Mintemp)
#for x in Mintemp:
 #   if re.findall('[.](\d)?',str(x))!='':
  #      print(re.findall('[.](\d)?',str(x)))

299

min

In [193]:
Max=temp['Temp. A..2'].tolist()
Maxtemp=[]
thing=[]
b=[]
for x in Max:
    thing=re.findall('\d{2}[:]\d{2}([-]?)(\d+)([,])?(\d+)?\s',x)
    if thing[0][2]=="":
        b=float(thing[0][0]+thing[0][1])
    else: 
        b=float(thing[0][0]+thing[0][1]+'.'+thing[0][3])
    Maxtemp.append(b)

In [194]:
x=np.array(Mintemp)
y=np.array(Maxtemp)
temp['min_temp']= x
temp['max_temp']= y
temp.to_csv('min max temps')
temp

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Datum,Temp. A.,Temp. A..1,Temp. A..2,min_temp,max_temp
0,01.01.2019,"6,3 °C","Min. 23:505,3 °C","Max. 12:556,9 °C",5.3,6.9
1,02.01.2019,"3,5 °C","Min. 23:55-1,8 °C","Max. 14:156,4 °C",-1.8,6.4
2,03.01.2019,"-1,0 °C","Min. 06:20-3,9 °C","Max. 19:050,8 °C",-3.9,0.8
3,04.01.2019,"1,3 °C","Min. 01:25-0,3 °C","Max. 14:302,9 °C",-0.3,2.9
4,05.01.2019,"2,9 °C","Min. 09:351,7 °C","Max. 23:454,6 °C",1.7,4.6
...,...,...,...,...,...,...
294,22.10.2019,"14,1 °C","Min. 23:4511,3 °C","Max. 15:0017,8 °C",11.3,17.8
295,23.10.2019,"12,9 °C","Min. 03:1510,0 °C","Max. 15:4015,6 °C",10.0,15.6
296,24.10.2019,"14,9 °C","Min. 03:0011,3 °C","Max. 15:4519,5 °C",11.3,19.5
297,25.10.2019,"14,2 °C","Min. 23:4510,4 °C","Max. 16:0017,7 °C",10.4,17.7
298,26.10.2019,"10,3 °C","Min. 00:0010,3 °C","Max. 00:0010,3 °C",10.3,10.3

In [195]:
i=0
for x in temp.min_temp:
    if x<10:
        temp.min_temp.iloc[i]=10
    if x>30:
        temp.min_temp.iloc[i]=30     
    i=i+1

i=0
for x in temp.max_temp:
    if x <10:
        temp.max_temp.iloc[i]=10
    if x>30:
        temp.max_temp.iloc[i]=30 
    i=i+1    
temp

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Datum,Temp. A.,Temp. A..1,Temp. A..2,min_temp,max_temp
0,01.01.2019,"6,3 °C","Min. 23:505,3 °C","Max. 12:556,9 °C",10.0,10.0
1,02.01.2019,"3,5 °C","Min. 23:55-1,8 °C","Max. 14:156,4 °C",10.0,10.0
2,03.01.2019,"-1,0 °C","Min. 06:20-3,9 °C","Max. 19:050,8 °C",10.0,10.0
3,04.01.2019,"1,3 °C","Min. 01:25-0,3 °C","Max. 14:302,9 °C",10.0,10.0
4,05.01.2019,"2,9 °C","Min. 09:351,7 °C","Max. 23:454,6 °C",10.0,10.0
...,...,...,...,...,...,...
294,22.10.2019,"14,1 °C","Min. 23:4511,3 °C","Max. 15:0017,8 °C",11.3,17.8
295,23.10.2019,"12,9 °C","Min. 03:1510,0 °C","Max. 15:4015,6 °C",10.0,15.6
296,24.10.2019,"14,9 °C","Min. 03:0011,3 °C","Max. 15:4519,5 °C",11.3,19.5
297,25.10.2019,"14,2 °C","Min. 23:4510,4 °C","Max. 16:0017,7 °C",10.4,17.7
298,26.10.2019,"10,3 °C","Min. 00:0010,3 °C","Max. 00:0010,3 °C",10.3,10.3

In [445]:
def my_function(date):
    ttemp=pd.read_csv('temp', sep=',')
    y=int(temp[temp.Datum==date].index.values)
    GDD_date=0
    for x in range(y+1):    
        GDD_date+=((temp.min_temp[x]+temp.max_temp[x])/2)-10
    return GDD_date

241.04999999999998

In [431]:
def get_tree_pre(date,gdd_infile='wachstumsgradtag.csv',climate_infile='climate_heidelberg_tima_and_date.csv'):
    gdd_date=my_function(date)
    gdd_trees = pd.read_csv(gdd_infile, sep='\t', encoding='utf-8')
    monthly_temp = pd.read_csv(climate_infile,sep='\t')
    #monthly_temp
    i=0
    for x in monthly_temp.Min:
        if x<10:
            monthly_temp.Min.iloc[i]=10
        if x>30:
            monthly_temp.Min.iloc[i]=30     
        i=i+1
    i=0
    for x in monthly_temp.Max:
        if x <10:
            monthly_temp.Max.iloc[i]=10
        if x>30:
            monthly_temp.Max.iloc[i]=30 
        i=i+1    
    #temp
    monthly_temp['average_weekly_gdd']=((monthly_temp.Max+monthly_temp.Min)/2-10)*7
    #monthly_temp
    month=int(re.findall('\d{2}[.](\d{2})[.]\d{4}',date)[0])
    #month
    averg_gdd=float(monthly_temp[monthly_temp.Month==month].average_weekly_gdd)
    #averg_gdd
    prdctd=gdd_date+averg_gdd
    #prdctd
    #gdd_trees
    blooming=gdd_trees[(gdd_trees["minGDD"]<prdctd) & (gdd_trees["minGDD"]>gdd_date)].Latin.tolist()
    print(blooming)
    return blooming

In [438]:
date='20.05.2019'
get_tree_pre(date)

['Ligustrum spp. ', 'Sambucus canadensis ']

['Ligustrum spp. ', 'Sambucus canadensis ']

    Month  Min  Max  average_weekly_gdd
0       1   10   10                 0.0
1       2   10   10                 0.0
2       3   10   12                 7.0
3       4   10   16                21.0
4       5   11   21                42.0
5       6   14   24                63.0
6       7   16   26                77.0
7       8   16   26                77.0
8       9   12   21                45.5
9      10   10   16                21.0
10     11   10   10                 0.0
11     12   10   10                 0.0

446.6499999999999

['Lythrum salicaria ']